body
{
    text-align: center;
}

h1
{
    font-size: 40px;
    font-family: inherit;
    font-weight: 300;
}
.parallax-inner
{ display: table-cell;
    position: relative; 
    text-align: center; 
    vertical-align: middle; }
.buttons
{
    float: left;
    color: #fff;
    padding-top: 5px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 5px;
    font-family: fantasy;
    font-size: 20px;
}
.buttons:hover
{
    background-color:dodgerblue;
}

    

